@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

/* Container Section */
.container-fluid {
  padding: 7% 15%;
}

/* sections */
.colored-section {
  color: #fff;
  background-color: #ff4c68;
}

.white-section {
  background-color: #fff;
}

/*************** HEADINGS ***************/
.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/*************** NAVIGATION BAR ***************/
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.3rem;
  font-weight: 300;
}

/*********** DOWNLOAD BUTTONS *************/
.download-button {
  margin: 5% 3% 5% 0;
}

/******* TITLE SECTION **********/
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.position-img {
  position: relative;
}

.title-image {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}

/********** FEATURES SECTION ***********/
#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}
.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
  transition: all 0.2s;
}

.icon:hover {
  color: #ff4c68;
}

/********** TESTIMONIALS SECTION ***********/
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

/********** PRESS SECTION ***********/
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/********** PRICING SECTION ***********/
#pricing {
  padding: 100px;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/********** FOOTER SECTION ***********/

.footer-icon {
  margin: 20px 10px;
}

/* Media Query */
@media (max-width: 1028px) {
  .title-image {
    transform: rotate(0);
    position: static;
  }

  #title {
    text-align: center;
  }
}
